.wind{
   width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.50);
}
.window2{
    width: 400px;
    height: 500px;
    background-color: #FFF;
    position: relative;
    border-radius: 25px;
}

.imgadd{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    top: 40px;
    left: calc(50% - 50px);
}

.imgadd img{
    width: 100px;
    height: 100px;
}

.window2 input{
    width: 270px;
    display: flex;
    position: relative;
    top: 20px;
    left: 70px;
    margin-top: 20px;
    padding: 8px 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.window2 .chekbox1{
    position: absolute;
    top: 130px;
    left: -10px;
    display: block;
}

.window2 h2{
    font-size: 18px;
    position: absolute;
    left: 120px;
}

.chekbox1 span{
    display: flex;
    position: relative;
    top: 160px;
    left: 100px;
    font-size: 15px;
    font-family: Mail Sans Roman;
}

.chekbox1 #one{

    position: relative;
    left: -50px;
    top: 51px;
}

.chekbox1 #two{
    position: relative;
    left: -50px;
    top: 1px;
}

.chekbox1 #three{
    position: relative;
    left: -50px;
    top: 2px;
}

.chekbox1 #four{
    position: relative;
    left: -50px;
    top: -14px;
}

.chekbox1 #five{
    position: relative;
    left: -50px;
    top: -28px;
}

.chekbox1 #six{
    position: relative;
    left: -50px;
    top: -41px;
}


.switch-field1 {
    width: 80%;
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
    position: relative;
    top: 145px;
    left: 40px;
    padding: 1px;
    border-radius: 5px;
    border: 1px solid  rgba(0, 0, 0, 0.15);
}

.switch-field1 input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field1 label {
    width: 50%;
    background-color: white;
    color: black;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    transition: all 0.1s ease-in-out;
}

.switch-field1 label:hover {
    cursor: pointer;
}

.switch-field1 input:checked + label {
    background-color: #FA7800;
    box-shadow: none;
    color: white;
}

.switch-field1 label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field1 label:last-of-type {
    border-radius: 0 4px 4px 0;
}

#saqlash{
    width: 100px;
    height: 25px;
    position: relative;
    top: 120px;
    left: 150px;
    background-color: #7735E0;
    border: none;
    border-radius: 5px;
    color: white;
}