.item{
    width: 150px;
    height: 250px;
    background-color: #FA7800;
    border-radius: 5px;
    background-image: linear-gradient( #FFB571,#FA7800);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px ;
}

.item img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    padding: 15px;
    margin: 20px;
}

.btn button{
    width: 80%;
    height: 25px;
    background-color: #FAF2EE;
    border: none;
    border-radius: 5px;
    margin: 3px;
    text-align: center;
    font-family: Mail Sans Roman;
    color: #23202A;
    font-size: 12px;
    position: relative;
    left: calc(50% - 45%);
    top: 1px ;
}

#one{
    color: #FAF2EE;
    text-align: center;
    font-family: Mail Sans Roman;
    font-size: 18px;
    position: relative;
    top: -15px;
}
p{
    color: #FAF2EE;
    text-align: center;
    font-family: Mail Sans Roman;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.7px;
    position: relative;
    top: -10px;
    left: 3px;
}
b{
    color: #FAF2EE;
    text-align: center;
    font-family: Mail Sans Roman;
    font-size: 14px;

}

