.skill-container .skill {
    position: relative;
    margin-right: 40px;
}

.skill-container .skill .outer {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0 0 0 /.15),
    -6px -6px 10px -1px rgba(255 255 255 / .7);
}

.skill-container .skill .outer .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0 0 0/ .2),
    inset -4px -4px 6px -1px rgba(255 255 255 / .7),
    -.5px -.5px 0px rgba(255 255 255 / 1),
    .5px .5px 0px rgba(0 0 0 /.15),
    0px 12px 10px -10px rgba(0 0 0 / 0.05);
}

.skill-container .skill .outer .inner .number {
    font-weight: 800;
}


.skill-container .skill .outer .inner .number {
    color: #FFB571;
}


circle {
    fill: none;
    stroke-width: 20px;
    stroke-dasharray: 672;
    stroke-dashoffset: 672;
    transition: 2s linear;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

.skill-container .skill circle {
    stroke: #FA7800;
}
#box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#open_royxat{
    width: 130px;
    height: 35px;
    padding: 10px;
    background: #7745E0;
    border-radius: 10px;
    font-family: 'Mail Sans Roman';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: none;
    position: relative;
    top: -290px;
    left: 280px;
}

#box p{
    font-family: 'Mail Sans Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #23202A;
}

.skill-container{
    width: 450px;
    height: 250px;
    border: 1px solid #00000026;
    border-radius: 10px;
    position: relative;
    left: 0px;
    /*margin-left: 30px;*/

}

#text {
    position: relative;
    top: -270px;
    left: 270px;
}

#text b{
    color: #23202A;
}