.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.53);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    width: 300px;
    height: auto;
    padding: 30px 20px;
    border-radius: 20px;
    background-color: white;
}

.btn-group{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}