#search{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 350px;
    top: -10px;
}

#search #poisk{
    width: 400px;
    height: 30px;
    position: relative;
    top: 100px;
    left: -0px;

}

.rasm{
    width: 100px;
    height: auto;
    background-color: #7735E0;
    border-radius: 5px;
    position: absolute;
    left: 299px;
    top: 102px;
}

.rasm #img1{
    height: 23px;
    background-color: #7735E0;
    border-radius: 5px;
    padding: 4px;
    position: relative;
    left: 40px;
}

#search button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #7735E0;
    position: relative;
    top: 100px;
    left: 3px;
    color: white;
}