
.nav ul{
    display: flex;
    list-style-type: none;
    position: relative;
    top: 150px;
    left: 200px;
}

.nav ul li{
    margin: 0px 10px;
    color: rgba(35, 32, 42, 0.60);
    text-align: center;
    font-family: Mail Sans Roman;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.8px;
}

.active{
    border-top: 2px solid #FA7800;
    color: #FA7800;
}

.main {
    padding: 1px;
    display: flex;
}

